.vscode

/CollectData/target/*
!/CollectData/target/*.h
!/CollectData/target/*.c

/CollectData/ProcTraceInfo/*
!/CollectData/ProcTraceInfo/*.java

/CollectData/testdata/src/*
!/CollectData/testdata/src/*.h
!/CollectData/testdata/src/*.c

/CollectData2/ProcTraceInfo/*
!/CollectData2/ProcTraceInfo/*.java

/CollectData2/testdata/src/*
!/CollectData2/testdata/src/*.h
!/CollectData2/testdata/src/*.c

/CalcConcepts/bin/*

/FindRules/ExploreConcepts/bin/*

/misc/Krajca-pcbo/*
!/misc/Krajca-pcbo/*.c

/misc/nagao/src/main/*
!/misc/nagao/src/main/*.java

/tmp/*