.vscode

/CollectContext/target/*
!/CollectContext/target/*.h
!/CollectContext/target/*.c

/CollectContext/ProcTraceInfo/*
!/CollectContext/ProcTraceInfo/*.java

/CollectContext/testdata/src/*
!/CollectContext/testdata/src/*.h
!/CollectContext/testdata/src/*.c


/CalcConcepts/bin/*

/FindRules/ExploreConcepts/ExploreConcepts/bin/*

/misc/Krajca-pcbo/*
!/misc/Krajca-pcbo/*.c

/misc/nagao/src/main/*
!/misc/nagao/src/main/*.java