.vscode

/CollectData/target/*
!/CollectData/target/*.h
!/CollectData/target/*.c

/CollectData/ProcTraceInfo/*
!/CollectData/ProcTraceInfo/*.java

/CollectData/testdata/src/*
!/CollectData/testdata/src/*.h
!/CollectData/testdata/src/*.c


/CalcConcepts/bin/*

/FindRules/ExploreConcepts/ExploreConcepts/bin/*

/misc/Krajca-pcbo/*
!/misc/Krajca-pcbo/*.c

/misc/nagao/src/main/*
!/misc/nagao/src/main/*.java